<%- include("header") -%>

<h1>This is the about page.</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore alias aperiam, quaerat asperiores molestiae iste
    omnis, esse ratione officia culpa non! Accusamus itaque placeat reiciendis veniam quo quia ex illum!</p>

<%- include("header") -%>